<aside>
	<div class="panel radius">
		<h3>Intermediate Rides</h3>
		<img class="b15" src="{{ site.urlimg }}/ride_areas/thumbs/moderate.jpg" alt="Intermediate">
		<p>These trails offer a mix of moderate climbs, descents, and occasional obstacles like rocks or roots. Suitable for riders with some experience who are ready for a bit more challenge and variety in terrain.</p>
	</div>

	<img class="b30" src="{{ site.urlimg }}/gvdbr_logo_271_168.png" alt="">

	<div class="border-dotted radius b30">
		<a href="https://mtragj.org/"><img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo"></a>
	</div>
</aside>
