<aside>
	<div class="panel radius">
		<h3>Bangs Canyon</h3>
		<img class="b15" src="{{ site.urlimg }}/ride_areas/thumbs/bangs_cover_image.jpg" alt="Bangs Canyon">
		<p>Bangs Canyon is known for technical, rocky, exposed rides through the region surrounding Colorado National Monument. This area offers easy access just south of Grand Junction open to OHV, hiking, and mountain biking opportunities. Trails connect to the Tabeguache trail network. This is a great destination for riders looking to challenge themselves and explore beautiful landscapes.</p>
	</div>

	<img class="b30" src="{{ site.urlimg }}/gvdbr_logo_271_168.png" alt="">

	<div class="border-dotted radius b30">
		<a href="https://mtragj.org/"><img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo"></a>
	</div>
</aside>
