<aside>
	<div class="panel radius">
		<h3>North Desert</h3>
		<img class="b15" src="{{ site.urlimg }}/ride_areas/thumbs/nDesert.jpg" alt="North Desert">
		<p>The North Desert OHV Area, located just north of Grand Junction by the Book Cliffs, offers a vast network of singletrack and doubletrack trails through high desert terrain. Riders will experience scenic views, rugged canyons, and a variety of technical features. This area is popular for its challenging climbs, fast-flowing sections, and unique rock formations, making it a favorite for riders of all levels.</p>
	</div>

	<img class="b30" src="{{ site.urlimg }}/gvdbr_logo_271_168.png" alt="">

	<div class="border-dotted radius b30">
		<a href="https://mtragj.org/"><img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo"></a>
	</div>
</aside>
