<aside>
	<div class="panel radius">
		<h3>Rabbit Valley</h3>
		<img class="b15" src="{{ site.urlimg }}/ride_areas/thumbs/rabbit_valley.jpg" alt="Rabbit Valley">
		<p>Rabbit Valley is renowned for its open desert landscape, winding singletrack, and stunning views of the Colorado River valley. The area features a mix of easy to advanced trails, with sandy washes, slickrock sections, and rolling hills. It's a great destination for riders looking for scenic routes and a variety of trail experiences, from mellow rides to technical challenges.</p>
	</div>

	<img class="b30" src="{{ site.urlimg }}/gvdbr_logo_271_168.png" alt="">

	<div class="border-dotted radius b30">
		<a href="https://mtragj.org/"><img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo"></a>
	</div>
</aside>
