<aside>
	<div class="panel radius">
		<h3>GJ Desert</h3>
		<img class="b15" src="{{ site.urlimg }}/ride_areas/thumbs/gj_desert.jpg" alt="GJ Desert">
		<p>The GJ Desert OHV area, accessed from the 27-1/4 Road MotoCross Track just outside of Grand Junction, offers open desert riding on flowing two-track and OHV trails. Riders can explore landmarks like Skinny Ridge, Mini Skinny, and the Carpenter Mine, along with a network of fun washes and ridgelines. With wide-open terrain and big valley views, it is a great destination for relaxed cruising and easy-going desert exploration for riders of all levels.</p>
	</div>

	<img class="b30" src="{{ site.urlimg }}/gvdbr_logo_271_168.png" alt="">

	<div class="border-dotted radius b30">
		<a href="https://mtragj.org/"><img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo"></a>
	</div>
</aside>
