<aside>
	<div class="panel radius">
		<h3>Rally INFO</h3>
		<p>
            <ul>
				<li><b>WHAT</b> - Guided Rides and Event Area</li>
				<li><b>WHERE</b> - Grand Junction, CO</li>
				<li><b>WHEN</b> - October 16th - 18th, 2026</li>
				<li><b>WHY</b> - Promote local trails and support the MTRA</li>
				<li><b>RIDE</b> - awesome singletrack!</li>
            </ul>
		</p>
	</div>

  <img class="b30" src="{{ site.urlimg }}/gvdbr_logo_271_168.png" alt="">


	<div class="border-dotted radius b30">
		<a href="https://mtragj.org/"><img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo"></a></div>
		<p class="text-left">
			<!-- Place caption here!</a> -->
		</p>
	</div>
</aside>