<aside>
	<div class="panel radius">
		<h3>Expert Rides</h3>
		<img class="b15" src="{{ site.urlimg }}/ride_areas/thumbs/expert.jpg" alt="Expert">
		<p>For highly skilled riders only. Expect extreme terrain, large obstacles, sharp switchbacks, and technical features that require expert-level control and endurance. These trails are not recommended for inexperienced riders.</p>
	</div>

	<img class="b30" src="{{ site.urlimg }}/gvdbr_logo_271_168.png" alt="">

	<div class="border-dotted radius b30">
		<a href="https://mtragj.org/"><img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo"></a>
	</div>
</aside>
