<aside>
	<div class="panel radius">
		<h3>Volunteer with the MTRA!!</h3>
		<ul>
			<li><b>Meet</b> - Fellow local riders</li>
			<li><b>Help</b> - The riding community</li>
			<li><b>Improve</b> - the trails available to us by maintaining and building new ones</li>
		</ul>
	</div>

  <!-- <img class="b30" src="{{ site.urlimg }}/gvdbr_logo_271_168.png" alt=""> -->


	<div class="border-dotted radius b30">
		<a href="https://mtragj.org/"><img src="{{ site.urlimg }}/mtra_logo_new_271_221.png" alt="MTRA Logo"></a>
		<p class="text-left">
			<!-- Place caption here!</a> -->
		</p>
	</div>
</aside>