.sponsor {
  text-align: center;
}

.sponsor img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.sponsor img:hover {
  transform: scale(1.05);
}